.drop-menu {
  position: relative;
  width: 100%;

  &__wrap {
    width: 100%;
    height: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: yellow;
    /**隐藏滚动条*/
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */

    &::-webkit-scrollbar {
      display: none;
      /* Chrome Safari */
    }
  }

  &__menu {
    // padding: 0 20px;
    font-size: 0;
    white-space: nowrap;
    background-color: pink;
  }

  &__item {
    display: inline-block;
    margin: 0 16px;
    height: 40px;
  }

  &__item:first-child {
    margin-left: 20px;
  }

  &__item:last-child {
    margin-right: 20px;
  }


  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .drop-menu__over {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 222;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 223;
  }
}