<html><head></head><body style="
    margin: 0;
    padding: 0;
    font-size: 64px;
    text-align: center;
    background: yellow;
">
    <section class="content-txt" style="
    background: rgba(33, 33, 33, 0.4);
">header txt</section>
<section class="content-img" style="
    background: url(&quot;https://img.netbian.com/file/2025/0118/small195135LgiZr1737201095.jpg&quot;) no-repeat;
    background-attachment: fixed;
    background-size: cover;
">IMG1</section>
<section class="content-txt" style="
    background: rgba(33, 33, 33, 0.3);
">content txt1</section>
<section class="content-img" style="
    background: url( https://imgs.699pic.com/images/700/190/613.jpg!list1x.v2) no-repeat;
    background-attachment: fixed;
    background-size: cover;
">IMG2</section>
<section class="content-txt" style="
    background: rgba(33, 33, 33, 0.2);
">content txt2</section>
<section class="content-img" style="
    background: url(&quot;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT32Yusj2QfP2Jo1LoJiw0zkR4f8H6gOUBeFTqOe6cKFQ&amp;s=10&quot;)  no-repeat;
    background-attachment: fixed;
    background-size: cover;
">IMG3</section>
<section class="content-txt" style="
    background: rgba(33, 33, 33, 0.1);
">content txt4</section>
</body></html>