// 按钮扫光
.light-animate {
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: yellow;
  border-radius: 10px;
}

/* 隐藏扫光 */
.light-animate_hide {
  overflow: hidden;
}


.light-animate::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  // background-color: red;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 1s linear infinite;
  will-change: all;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/* 文字切换 */
.swiper-text {
  position: relative;
  left: 50%;
  margin-top: 50px;
  width: 100px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  transform: translateX(-50%);
  background-color: lightsalmon;
  border-radius: 15px;
  overflow: hidden;
}

.immediate,
.limit {
  font-size: 20px;
  color: #fff;
}

.change {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.change:nth-child(1) {
  animation: anim1 3150ms linear infinite;
}

.change:nth-child(2) {
  animation: anim2 3150ms linear infinite;
}

@keyframes anim1 {
  0% {
    top: 0;
    opacity: 0;
  }

  5% {
    top: 0;
    opacity: 1;
  }

  28% {
    top: -1px;
    opacity: 1;
  }

  33% {
    top: -2px;
    opacity: 1;
  }

  47% {
    top: 16px;
    opacity: 0.1;
  }

  48% {
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0;
  }

  // 0% {
  //   top: 0;
  //   opacity: 1;
  // }

  // 11% {
  //   top: 0;
  //   opacity: 1;
  // }

  // 55% {
  //   top: -1px;
  //   opacity: 1;
  // }

  // 66% {
  //   top: -2px;
  //   opacity: 1;
  // }

  // 92% {
  //   top: 16px;
  //   opacity: 0.1;
  // }

  // 96% {
  //   opacity: 0;
  // }

  // 100% {
  //   top: 0;
  //   opacity: 0;
  // }
}

@keyframes anim2 {
  0% {
    top: 0;
    opacity: 0;
  }

  47% {
    opacity: 0;
  }

  48% {
    opacity: 1;
  }

  56% {
    top: 0;
    opacity: 1;
  }

  65% {
    top: -1px;
    opacity: 1;
  }

  81% {
    top: -2px;
    opacity: 1;
  }

  98% {
    top: 16px;
    opacity: 0.1;
  }

  99% {
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes changeOpcity {
  0% {
    opacity: 1;
  }

  98% {
    opacity: 0.1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

// 文字切换动画